@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(68, 0, 68);
    min-height: 100vh;
    font-size: 18px;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
    position: relative;
    overflow: hidden;
}

main {
    position: absolute;
    width: 100%;
    min-height: 100%;
}

main .box {
    position: absolute;
    top: 0;
    left: 0;
    width: 32vw;
    height: 100%;
    background: rgb(68, 0, 68) url('../images/bg-main-desktop.png') center center no-repeat;
    background-size: cover;
}

main .box .cards {
    position: absolute;
    width: 450px;
    height: 250px;
    border-radius: 15px;
    z-index: 10;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1),
                0 0 30px rgba(0, 0, 0, 0.1),
                0 0 40px rgba(0, 0, 0, 0.1),
                0 0 50px rgba(0, 0, 0, 0.1);
}

main .box .card-front {
    top: 12%;
    left: 35%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: #fff url('../images/bg-card-front.png') center center no-repeat;
    background-size: cover;
}

main .box .card-front .circle {
    position: absolute;
    top: 10%;
    left: 5%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
}

main .box .card-front .circle::before {
    content: '';
    position: absolute;
    right: -90%;
    top: 50%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 1px solid #fff;
}

main .box .card-front .content {
    position: relative;
    padding: 20px;
    height: 50%;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

main .box .card-front .content .cardholder {
    position: absolute;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    left: 10%;
    padding-bottom: 10px;
}

main .box .card-front .content .exp-date,
main .box .card-front .content .card-name {
    position: absolute;
    font-size: 0.9em;
    bottom: 20%;
}

main .box .card-front .content .card-name {
    left: 10%;
}

main .box .card-front .content .exp-date {
    right: 10%;
}

main .box .card-back {
    position: relative;
    top: 52%;
    left: 57%;
    background: #fff url('../images/bg-card-back.png') center center no-repeat;
    background-size: cover;
}

main .box .card-back .cvc {
    position: absolute;
    right: 11%;
    top: 44%;
    color: #fff;
}

main .items {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 68vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

main .items .data {
    height: 60vh;
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateX(40px);
}

main .items .data span {
    padding: 5px;
}

main .items .data input {
    height: 40px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 15px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

main .items .data input:active {
    border: linear;
}

main .items .data .input {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}

main .items .data .input input {
    width: 100%;
}

main .items .data .ultima-linha {
    display: flex;
    padding: 10px;
}

main .items .data .ultima-linha .input-especial {
    display: flex;
    flex-direction: column;
}

main .items .data .ultima-linha .input-especial .date input{
    width: 50%;
}

main .items .data input[type='submit'] {
    width: 90%;
    border: none;
    color: white;
    letter-spacing: 0.1em;
    padding: 10px;
    background-color: hsl(278, 68%, 11%);
}